export DATABASE_URL=postgresql://hikaru.wada@localhost/home-device-admin-dev?sslmode=disable

# goose
export GOOSE_DRIVER=postgres
export GOOSE_DBSTRING=$DATABASE_URL

# Club Panasonic
export CP_EMAIL=watyaa+pana@gmail.com
export CP_PASSWORD=74yN5Xei43MVE9J
export CP_APP_TOKEN=D8CBFF4C-2824-4342-B22D-189166FEF503